/* ------------- About Us --------------- */
#about-heading {
    background-color: #d5bdaf;
}

#about-content {
    width: 65%;
}

#about-content img {
    width: 100%;
}

#industry-partners {
    background-color: #edede9;
}

#industry-partners img {
    width: 90%;
}

/* ------------- Contact Us --------------- */
#location {
    background-color: #d5bdaf;
}

#contact {
    background-color: #edede9;
}

#contact form {
    background-color: #d5bdaf;
}

#contact button:hover {
    background-color: #edede9;
    color: black;
}