#about-heading {
    background-color: #d5bdaf;
}

#about-content {
    width: 65%;
}

#about-content img {
    width: 100%;
}

#industry-partners {
    background-color: #edede9;
}

#industry-partners img {
    width: 90%;
}
